body {
    background-color: #101010;
}
.main {
    margin-top: 200px;
}
h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    color: #d6e9c6;
    font-size: 56px;
    font-weight: 400;
}
h2 {
    color: #2d6ca2;
    font-size: 52px;
    font-weight: 300;
}
.block-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-nav-icons {
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-icon {
    text-decoration: none;
    margin: 20px;
}
.link-icon:hover {
    text-decoration: none;
}