body {
    color: #D6E9C6;
    background-color: #101010;
}
.main {
    margin-top: 48px;
}
.contact {
    position: fixed;
    top:10px;
    right:10px;
}
@media screen and (min-height: 600px) {
    .main {
        margin-top: 200px;
    }
}

h1, h2, .subtitle {
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    color: #d6e9c6;
    font-size: 56px;
    font-weight: 400;
}
h2 {
    color: #2d6ca2;
    font-size: 56px;
    font-weight: 300;
}

.subtitle {
    color: #2d6ca2;
    font-size: 56px;
    font-weight: 300;
}
.block-header, .baseline, .block-nav-icons {
    margin: 20px 0;
}
.baseline {
    font-size: 18px;
}
.block-nav-icons a {
    margin: 20px;
}
.link-icon {
    text-decoration: none;
    color: #d6e9c6;
}
.link-icon:hover {
    text-decoration: none;
    color: #d6e9c6;
}
.link-icon-linkedin {
    color: #2D6CA2;
}
.link-icon-linkedin:hover {
    color: #2D6CA2;
}
blockquote {
    font-size: 14px;
    border: 0;
    padding: 0;
    margin: 40px 0 10px;
}
cite {
}
blockquote:before {
    content: "“";
    color: #d6e9c6;
    float: left;
    font-size: 62px;
    margin-top: -20px;
    margin-right: 8px;
    height: 30px;
}