.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.block-header {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-footer {
    width: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-nav-icons {
    width: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-icon {
    text-decoration: none;
    display: block;
    margin: 20px;
    float: left;
}
.link-icon:hover {
    text-decoration: none;
}