// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$native-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

$text-color: #333;
$base-font-family:             'Roboto', sans-serif;
$base-font-weight:             300;
$base-font-size-large-screen:  18px;
$base-font-size-medium-screen: 17px;
$base-font-size-small-screen:  16px;

$heading-color:       #111;
$heading-font-family: 'Roboto', sans-serif;
$heading-font-weight: 600;

$header-background: #101010;
$header-color:      #dc1310;

$white: #fff;
$black: #000;
$red:   #f00;

$gray-dark:     #292b2c !default;
$gray:          #464a4c !default;
$gray-light:    #636c72 !default;
$gray-lighter:  #eceeef !default;
$gray-lightest: #f7f7f9 !default;

// Application colors
$alto:         #e0e0e0;
$grey-s:       #ddd;
$cod-gray:     #0a0a0a;
$alabaster:    #f7f7f7;
$blue:         #0288d1;
$dark-grey:    #292b2c;
$light-grey:   #ccc;
$dim-grey:     #666;
$white-smoke:  #eee;
$white-smoke2: #f0f0f0;
$white-sand:   #f4f4f4;
$gainsboro:    #e6e6e6;
$nevada:       #636c72;

$shadow: rgba(179, 168, 168, .6);
