{
  "env": {
    "production": {
      "plugins": ["external-helpers"],
      "presets": [
        ["env", {
          "modules": false,
          "browsers": ["last 5 versions"]
        }]
      ]
    },
    "developpment": {
      "plugins": ["external-helpers"],
      "presets": [
        ["env", {
          "modules": false,
          "browsers": ["last 5 versions"]
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "browsers": ["last 5 versions"]
        }]
      ]
    }
  }
}
