<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Micka&euml;l Vieira - Software Engineering - London UK - Stay Aware, Adapt, Change</title>
    <meta name="description" content="Micka&euml;l Vieira Software Engineer in London UK" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{assets '/dist/css/bootstrap.css'}}">
    <link rel="stylesheet" href="{{assets '/dist/css/font-awesome.css'}}">
    <link rel="stylesheet" href="{{assets '/dist/css/roboto-condensed.css'}}">
    <link rel="stylesheet" href="{{assets '/dist/css/styles.css'}}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 http-error-message">
                <h1>Something is not right! :(</h1>
            </div>
        </div>
    </div>
</body>
</html>
