<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Micka&euml;l Vieira - Software Engineering - London UK - Stay Aware, Adapt, Change</title>
    <meta name="description" content="Micka&euml;l Vieira Software Engineer in London UK">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{assets '/dist/css/font-awesome.css'}}">
    <link rel="stylesheet" href="{{assets '/dist/css/roboto-condensed.css'}}">
    <link rel="stylesheet" href="{{assets '/dist/css/styles.css'}}">
</head>
<body>
    <nav class="block-contact">
        <a href="https://github.com/mickaelvieira" class="link-icon" title="Micka&euml;l's Github Account" aria-label="Micka&euml;l's Github Account">
            <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="http://linkedin.com/in/mickaelvieira" class="link-icon link-icon-blue" title="Micka&euml;l's Linkedin Account" aria-label="Micka&euml;l's Linkedin Account">
            <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
        <a href="http://twitter.com/mickaelvieira" class="link-icon" title="Micka&euml;l's Twitter Account" aria-label="Micka&euml;l's Twitter Account">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a class="link-icon link-icon-contact link-icon-blue" href="javascript:;" title="Say hello :)" aria-label="Email">
            <i class="fa fa-envelope fa-2x"></i>
            <!-- <i class="glyphicon glyphicon-hand-up icon-hand-up"></i> -->
        </a>
    </nav>

    <div class="main">
        <h1>
            <span class="title">Micka&euml;l Vieira</span>
            <span class="subtitle">Software Engineering</span>
        </h1>
        <div class="baseline">
            - Stay Aware, Adapt, Change -
        </div>
    </div>

  <script src="{{assets '/dist/js/main.js'}}"></script>
</body>
</html>
