<header>
  <div class="col"></div>
  <div class="col">
    <h1>
      <a href="/" title="Home page">
        micka&euml;l vieira
      </a>
    </h1>

    <!-- <div class="baseline">“Leave the source code as you would expect to find it„</div> -->
    <nav>
      <ul>
        <li>
          <a href="https://github.com/mickaelvieira" class="link-icon" title="my Github Account" aria-label="my Github Account">
              <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/mickaelvieira" class="link-icon" title="my Twitter Account" aria-label="my Twitter Account">
              <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="link-icon link-icon-contact link-icon-blue" href="javascript:;" title="Say hello :)" aria-label="Email">
              <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col"></div>
</header>
