// Small 600 >= w < 960
@media screen and (min-width: 600px) {
  header {
    li {
      margin-left: 24px;
    }

    h1 {
      margin-left: 36px;
    }

    nav {
      margin-right: 36px;
    }
  }

  .main {
    background-color: $white;
    padding-left: 36px;
    padding-right: 36px;
  }
}

// Medium 960 >= w < 1280
@media screen and (min-width: 960px) {
  header,
  section {
    grid-template-columns: 10% 80% 10%;
  }

  header {
    h1 {
      margin-left: 0;
    }

    nav {
      margin-right: 0;
    }
  }

  .main {
    margin-bottom: 24px;
  }
}

// Large 1280 >= w < 1920
@media screen and (min-width: 1280px) {
  header,
  section {
    grid-template-columns: 15% 70% 15%;
  }
}

// Extra Large 1920 >= w
// @media screen and (min-width: 1920px) {}
