:root {
  --white: #fff;
  --black: #000;
  --blue: #2d6ca2;
  --black-light: #333;
  --black-lighter: #161616;
  --black-lightest: #111;
  --native-font-family:           -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  --text-color:                   #D6E9C6;
  --base-font-family:             'Roboto', sans-serif;
  --base-font-weight:             300;
  --base-font-size-large-screen:  16px;
  --base-font-size-medium-screen: 15px;
  --base-font-size-small-screen:  16px;
  --page-bg: #101010;
  --heading-font-family: 'Roboto-Condensed', sans-serif;
  --heading-font-weight: 500;
}

html {
  font-family: var(--native-font-family);
  font-weight: normal;
  line-height: 1.5;
  height: 100%;
}

body {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--page-bg);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  padding: 0;
  margin: 0;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

::-moz-selection {
  background: var(--blue);
  color: var(--text-color);
  text-shadow: none;
}

::selection {
  background: var(--blue);
  color: var(--text-color);
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-lightest);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: 1.1;
  margin: 2rem 0;

    /* a {
        font-weight: inherit;
    } */
}

a {
  color: var(--blue);
  text-decoration: underline;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

a.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

*[title=''] {
  border: 10px solid #f00;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}

small {
  font-size: 75%;
}

dl,
dt,
dd {
  margin: 0;
}

dt {
  font-size: 1.1rem;
  font-weight: bold;
}

dd {
  margin-bottom: .4rem;
}

p {
  text-align: justify;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}

h1 {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-size: 56px;
  justify-content: center;
  margin: 0;
}

.title {
  display: inline-block;
  text-align: center;
}

.subtitle {
  color: var(--blue);
  font-weight: 300;
  font-size: 56px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

h2 {
  color: var(--blue);
}

.block-header,
.block-nav-icons {
  margin: 20px 0;
}

.baseline {
  margin-top: 12px;
  text-align: center;
}

.block-nav-icons a {
  margin: 20px;
}

.link-icon {
  text-decoration: none;
  color: var(--text-color);
}
.link-icon:hover {
  text-decoration: none;
  color: var(--text-color);
}

.link-icon-blue,
.link-icon-blue:hover {
  color: var(--blue);
}

.block-contact {
  align-self: flex-end;
  margin: 12px 18px;
}

.block-contact a {
  margin-left: 20px;
}

.icon-hand-up {
  font-size: 18px;
  position: absolute;
  top: 50px;
  right: 4px;
  opacity: 0;
  animation: handup 10s infinite;
}

/* @keyframes handup {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    10% {
        top: 50px;
    }
    11% {
        top: 40px;
    }
    12% {
        top: 50px;
    }
    13% {
        top: 40px;
    }
    14% {
        top: 40px;
    }
    14% {
        top: 50px;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} */

@media only screen and (min-width: 0) {
  html {
    font-size: var(--base-font-size-small-screen);
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: var(--base-font-size-medium-screen);
  }

  h1 {
    flex-direction: row;
  }

  .title {
    margin-right: 6px;
  }

  .subtitle {
    margin-left: 6px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: var(--base-font-size-large-screen);
  }
}
