{{> layouts/base }}

{{#*inline "content"}}
<section>
  <div class="col"></div>
  <div class="col main">
    <h2>Something is not right! :(</h2>
  </div>
  <div class="col"></div>
</section>
{{/inline}}
