{{> layouts/base }}

{{#*inline "content"}}
<section>
  <!-- <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div> -->
  <div class="col"></div>
  <div class="col main">
    <!-- <h2>Mickael Vieira</h2> -->
    <p>
      I'm freelance web developer with 10 years' experience. I have been working in London for the last 5 years. I mainly work with <strong>PHP</strong> and <strong>Javascript</strong> but I enjoy writing some <strong>Rust</strong> or <strong>Go</strong> code during my spare time.
    </p>

    <hr>
<!--
    <h2>Work experiences</h2>

    <dl>
      <dt>Since 2016</dt>
      <dd>Web Developer – <a href="https://eu.square-enix.com/en/home">Square Enix Europe</a></dd>

      <dt>2015</dt>
      <dd>Web Developer – <a href="https://schoolexplained.co.uk/">School Explained</a></dd>

      <dt>2014 – 2015</dt>
      <dd>Web Developer – <a href="https://sunny.co.uk/">Elevate Finance</a></dd>

      <dt>2013 – 2014</dt>
      <dd>Web Developer – <a href="https://intu.co.uk/">Intu Digital</a></dd>

      <dt>2012 – 2013</dt>
      <dd>Web Developer – <a href="http://www.storyworldwide.com/">Story Worldwide</a></dd>

      <dt>2009 – 2012</dt>
      <dd>Web Developer – <a href="https://www.agencenetdesign.com/">Net Design</a></dd>

      <dt>2007 – 2009</dt>
      <dd>Flash Developer – <a href="http://www.ddb-nouveau-monde.com/">DDB Nouveau Monde</a></dd>
    </dl>

    <hr> -->

  </div>
  <div class="col"></div>
  <!-- <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div> -->
</section>
{{/inline}}
